@*@model MVCApplication.ViewModel.CustomerMovieViewModel2*@


@{
    ViewBag.Title = "DisplayCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<p>
    <h3><text>Customer Name:</text>@Model.Customer.CustomerName</h3>
</p>
<ul>
    @foreach (var mov in Model.Movies)
    {
        <li>@mov.MovieName</li>
    }
</ul>*@


